app = "zalo-mini-app-backend"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[build]
  image = ""

[env]
  PORT = "8080"

[[services]]
  internal_port = 8080
  protocol = "tcp"
  [services.concurrency]
    type = "requests"
    hard_limit = 25
    soft_limit = 20
  [[services.ports]]
    handlers = ["http"]
    port = 80
